// Заголовки, общие БЄМ блоки и проче...
.h1 {
    font-size: vw(120);
    line-height: vw(120);
    font-family: $CanelaFont;
    color: $whiteColor;
    letter-spacing: vw(0.4);
    text-transform: uppercase;
    @media (max-width: $mobile) {
        font-size: vw_m(60);
        line-height: 120%;
    }
}
//========================================================================================================================================================
.h2 {
    font-size: vw(80);
    line-height: vw(120);
    font-family: $CanelaFont;
    color: #000000;
    text-transform: uppercase;
    @media (max-width: $mobile) {
        font-size: vw_m(43);
        line-height: 100%;
        // text-transform: none;
        // line-height: vw_m(50);
    }
}
//========================================================================================================================================================
.h3 {
    font-size: vw(60);
    line-height: vw(90);
    color: $mainColor;
    letter-spacing: vw(0.2);
    font-family: $CanelaFont;
    text-transform: uppercase;
    @media (max-width: $mobile) {
        font-size: vw_m(36);
        line-height: vw_m(50);
    }
}
//========================================================================================================================================================
.h4 {
    font-size: vw(40);
    line-height: vw(48);
    color: $blackColor;
    font-family: $CanelaFont;
    @media (max-width: $mobile) {
        font-size: vw_m(24);
        line-height: vw_m(30);
    }
}
//========================================================================================================================================================
.text {
    font-size: vw(40);
    line-height: vw(50);
    color: $blackColor;
    @media (max-width: $mobile) {
        font-size: vw_m(28);
        line-height: 125%;
        // line-height: vw_m(48);
    }
}
//========================================================================================================================================================
.text-b {
    font-size: vw(60);
    line-height: vw(90);
    color: $mainColor;
    @media (max-width: $mobile) {
        font-size: vw_m(28);
        line-height: 125%;
        // line-height: vw_m(36);
    }
}
//========================================================================================================================================================
.span {
    font-size: vw(20);
    line-height: vw(22);
    letter-spacing: vw(0.2);
    @media (max-width: $mobile) {
        font-size: vw_m(20);
        line-height: vw_m(22);
    }
}
//========================================================================================================================================================
.link {
    font-size: vw(30);
    line-height: vw(34);
    letter-spacing: vw(0.2);
    position: relative;
    display: flex;
    align-items: center;
    padding: 0px 0px 0px vw(60);
    pointer-events: auto;
    @media (max-width: $mobile) {
        font-size: vw_m(20);
        line-height: vw_m(44);
        padding: 0px 0px 0px vw_m(60);
    }
    // &:hover {
    //     .cursor {
    //         opacity: 0;
    //     }
    // }
    // &::before {
    //     content: "";
    //     position: absolute;
    //     width: vw(42);
    //     height: vw(42);
    //     border-radius: 50%;
    //     background-color: $whiteColor;
    //     left: 0;
    //     @media (max-width: $mobile) {
    //         width: vw_m(20);
    //         height: vw_m(20);
    //     }
    // }
    // &:hover:before {
    //     transform: scale(5);
    //     transition: transform 0.3s ease 0s;
    //     background: radial-gradient(circle farthest-side, #fff 17%, rgba(255, 255, 255, 0) 100%);
    // }
}
//========================================================================================================================================================
.data {
    display: inline-block;
    font-size: vw(30);
    line-height: vw(34);
    letter-spacing: vw(0.2);
    color: $mainColor;
    @media (max-width: $mobile) {
        font-size: vw_m(20);
        line-height: vw_m(24);
    }
}
//========================================================================================================================================================
.mail {
    // padding: 0px 0px vw(200) 0px;
    // @media (max-width: $mobile) {
    //     padding: 0px 0px vw_m(50) 0px;
    // }
    // .mail__container
    &__container {
    }
    // .mail__body
    &__body {
    }
    // .mail__title
    &__title {
        text-align: center;
        margin: 0px 0px vw(100) 0px;
        font-family: $CanelaFont;
        @media (max-width: $mobile) {
            margin: 0px 0px vw_m(30) 0px;
        }
    }
    // .mail__line
    &__line {
        padding: vw(40.5) vw(0);
        border-top: vw(1) solid $greyColor;
        border-bottom: vw(1) solid $greyColor;
        position: relative;
        @media (max-width: $mobile) {
            padding: vw_m(20) vw(0);
        }
    }
    // .mail__input
    &__input {
        position: relative;
        padding: vw(0) vw(100);
        display: flex;
        &::before {
            content: "";
            position: absolute;
            width: vw(215);
            background-color: $bgColor;
            height: 100%;
            top: 0;
            right: 0;
            @media (max-width: $mobile) {
                width: vw_m(115);
            }
        }
        &._form-focus {
            &::before {
                display: none;
            }
        }
        @media (max-width: $mobile) {
            padding: vw(0) vw_m(10);
        }
    }
    // .mail__button
    &__button {
        white-space: nowrap;
        font-size: vw(30);
        line-height: vw(34);
        cursor: none;
        @media (max-width: $mobile) {
            font-size: vw_m(16);
            line-height: vw_m(20);
        }
    }
    // .mail__inner
    &__inner {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;
        background-color: $bgColor;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: vw(60);
        line-height: vw(80);
        color: $greyColor;
        transition: all 0.3s ease 0s;
        &.hidden {
            transition: all 0.3s ease 0s;
            display: none;
        }
        @media (max-width: $mobile) {
            font-size: vw_m(24);
            line-height: vw_m(30);
        }
    }
}
//========================================================================================================================================================
.cursor {
    position: fixed;
    pointer-events: none;
    z-index: 99;
    width: vw(15);
    height: vw(15);
    border-radius: 50%;
    background-color: $greyColor;
    @media (max-width: $mobile) {
        display: none;
    }
    &.active {
        transition: transform 0.4s ease 0s;
        transform: scale(4);
        opacity: 0.7;
        & .expand {
            animation: none;
            transform: scale(0);
        }
    }
    &.hidden {
        opacity: 0;
        visibility: hidden;
    }
}
@keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(6);
        opacity: 0;
    }
}
.expand {
    animation: cursorAnim 0.5s forwards;
    background-color: $greyColor;
}
.cursor-fade {
    position: fixed;
    border-radius: 100%;
    pointer-events: none;
    z-index: 99;
    width: 15px;
    height: 15px;
    @media (max-width: $mobile) {
        display: none;
    }
}
//========================================================================================================================================================
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $bgColor;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
    // padding: vw(100);
}
// #preloader.hidden-preloader {
//     animation: hidePreloader 10s;
// }
#preloader.preloader-hidden {
    display: none;
}
@keyframes pagePreloader {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
#preloader-inside {
    background-color: $bgColor;
    padding: vw(0) vw(45);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: $mobile) {
        padding: vw(0) vw_m(25);
    }
    & p {
        text-transform: uppercase;
        font-size: vw(22);
        line-height: vw(50);
        animation: pagePreloader 3s;
        @media (max-width: $mobile) {
            font-size: vw_m(20);
            line-height: vw_m(40);
        }
    }
    & span {
        margin: vw(35) 0px 0px 0px;
        @media (max-width: $mobile) {
            margin: vw_m(35) 0px 0px 0px;
        }
    }
}
#preloader-line {
    transition: left 1s cubic-bezier(0.77, 0, 0.3, 1), right 1s cubic-bezier(0.77, 0, 0.3, 1), opacity 0.4s 0.3s;
    // opacity: 0;
    position: absolute;
    top: 50%;
    max-width: vw(1700);
    height: vw(1);
    left: vw(100);
    // right: vw(100);
    //right: 100%;
    background-color: $greyColor;
    // border-bottom: 1px solid rgba(74,74,74,.2);
    transition: all 1.7s 0.1s cubic-bezier(0.77, 0, 0.3, 1);
    animation: lineAnimation 3s;
}
@keyframes lineAnimation {
    0% {
        width: 0;
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        width: 100%;
        opacity: 0;
    }
}
.preloader-top {
    animation: borderAnimation 3s;
    &::after {
        content: "";
        position: absolute;
        width: vw(70);
        height: vw(70);
        top: vw(100);
        left: vw(100);
        border-top: vw(1) solid $greyColor;
        border-left: vw(1) solid $greyColor;
        @media (max-width: $mobile) {
            width: vw_m(70);
            height: vw_m(70);
        }
    }
    &::before {
        content: "";
        position: absolute;
        width: vw(70);
        height: vw(70);
        top: vw(100);
        right: vw(100);
        border-top: vw(1) solid $greyColor;
        border-right: vw(1) solid $greyColor;
        @media (max-width: $mobile) {
            width: vw_m(70);
            height: vw_m(70);
        }
    }
}
.preloader-bottom {
    animation: borderAnimation 3s;
    &::after {
        content: "";
        position: absolute;
        width: vw(70);
        height: vw(70);
        bottom: vw(100);
        left: vw(100);
        border-bottom: vw(1) solid $greyColor;
        border-left: vw(1) solid $greyColor;
        @media (max-width: $mobile) {
            width: vw_m(70);
            height: vw_m(70);
        }
    }
    &::before {
        content: "";
        position: absolute;
        width: vw(70);
        height: vw(70);
        bottom: vw(100);
        right: vw(100);
        border-bottom: vw(1) solid $greyColor;
        border-right: vw(1) solid $greyColor;
        @media (max-width: $mobile) {
            width: vw_m(70);
            height: vw_m(70);
        }
    }
}
@keyframes borderAnimation {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
//========================================================================================================================================================
.showmore {
    border-top: vw(1) solid $blackColor;
    border-bottom: vw(1) solid $blackColor;
    padding: vw(40.5) vw(0);
    display: flex;
    justify-content: center;
    @media (max-width: $mobile) {
        padding: vw_m(20) vw(0);
        margin: vw_m(0) vw_m(-30);
    }
    // .showmore__link
    &__link {
        position: relative;
        font-size: vw(30);
        line-height: vw(34);
        color: $blackColor;
        padding: 0px 0px vw(5) 0px;
        @media (max-width: $mobile) {
            font-size: vw_m(20);
            line-height: vw_m(24);
            padding: 0px 0px vw_m(5) 0px;
        }
        &:after {
            content: "";
            position: absolute;
            bottom: 0px;
            left: 0px;
            right: 0px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        }
    }
}
@keyframes underscored {
    0% {
        transform: scaleX(1);
        transform-origin: right center;
    }
    35% {
        transform: scaleX(0);
        transform-origin: right center;
    }
    65% {
        transform: scaleX(0);
        transform-origin: left center;
    }
    100% {
        transform: scaleX(1);
        transform-origin: left center;
    }
}
.showmore__link:hover:after {
    animation: underscored 0.8s linear;
}
//========================================================================================================================================================
.featured-images {
    // .news-images__container
    &__container {
    }
    // .news-images__body
    &__body {
    }
    // .news-images__header
    &__header {
        margin: 0px 0px vw(100) 0px;
        @media (max-width: $mobile) {
            margin: 0px 0px vw_m(50) 0px;
        }
    }
    // .news-images__title
    &__title {
        display: block;
        color: $blackColor;
        @media (max-width: $mobile) {
            text-align: center;
        }
    }
    // .news-images__row
    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: $mobile) {
            flex-direction: column;
            gap: vw_m(75);
        }
    }
    // .news-images__column
    &__column {
        flex: 0 1 vw(357);
        @media (max-width: $mobile) {
            width: 100%;
        }
        &:hover {
            .featured-images__image-main {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                opacity: 0;
                transition: all 1s ease 0s;
            }
            .featured-images__image-hv {
                transition: all 1s ease 0s;
                opacity: 1;
                position: relative;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }
        }
    }
    // .news-images__bg
    &__bg {
        display: inline-block;
        background: url("@img/gallery/thumb.png") 0 0 / cover no-repeat;
        height: vw(491);
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: $mobile) {
            height: vw_m(400);
        }
        // &:hover {
        //     .featured-images__image-main {
        //         position: absolute;
        //         width: 100%;
        //         height: 100%;
        //         top: 0;
        //         left: 0;
        //         opacity: 0;
        //         transition: all 1s ease 0s;
        //     }
        //     .featured-images__image-hv {
        //         transition: all 1s ease 0s;
        //         opacity: 1;
        //         position: relative;
        //         width: 100%;
        //         height: 100%;
        //         top: 0;
        //         left: 0;
        //     }
        // }
        // &:hover {
        // .featured-images__image-hv {
        //     transition: opacity 1s ease 0s;
        //     opacity: 1;
        // }
        // }
    }
    // .news-images__image
    &__image {
        display: block;
        width: vw(288);
        height: auto;
        position: relative;
        // &:hover {
        //     .featured-images__image-main {
        //         position: absolute;
        //         width: 100%;
        //         height: 100%;
        //         top: 0;
        //         left: 0;
        //         opacity: 0;
        //         transition: all 1s ease 0s;
        //     }
        //     .featured-images__image-hv {
        //         transition: all 1s ease 0s;
        //         opacity: 1;
        //         position: relative;
        //         width: 100%;
        //         height: 100%;
        //         top: 0;
        //         left: 0;
        //     }
        // }
        @media (max-width: $mobile) {
            width: vw_m(288);
        }
        & img {
            max-width: 100%;
        }
    }
    // .featured-images__image-main
    &__image-main {
        position: relative;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transition: all 1s ease 0s;
    }
    &__image-hv {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transition: all 1s ease 0s;
        opacity: 0;
    }
    // .news-images__block
    &__block {
        padding: vw(35) 0px 0px 0px;
        text-align: center;
        @media (max-width: $mobile) {
            padding: vw_m(25) 0px 0px 0px;
        }
    }
    // .news-images__data
    &__data {
        display: block;
        font-size: vw(16);
        line-height: vw(17);
        letter-spacing: vw(0.2);
        color: $mainColor;
        margin: vw(10) 0px vw(15) 0px;
        @media (max-width: $mobile) {
            margin: vw_m(10) 0px vw_m(10) 0px;
            font-size: vw_m(16);
            line-height: vw_m(17);
        }
    }
    // .news-images__price
    &__price {
        display: block;
        font-size: vw(16);
        line-height: vw(17);
        color: $blackColor;
        @media (max-width: $mobile) {
            font-size: vw_m(16);
            line-height: vw_m(17);
        }
    }
}
//========================================================================================================================================================
