//====================================================================================================
.lectures-main {
    background: url("@img/lectures/bg.jpg") left/cover no-repeat;
    padding: vw(98) 0px;
    @media (max-width: $mobile) {
        padding: vw_m(50) 0px;
    }
    // .lectures-main__container
    &__container {
    }
    // .lectures-main__body
    &__body {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: vw(255);
        @media (max-width: $mobile) {
            flex-direction: column;
            gap: vw_m(45);
        }
    }
    // .lectures-main__image-ibg
    &__image-ibg {
        width: vw(605);
        height: vw(603);
        &:hover {
            .featured-images__image-hv {
                transition: opacity 1s ease 0s;
                opacity: 1;
            }
        }
        @media (max-width: $mobile) {
            width: 100%;
            height: vw_m(300);
        }
    }
    // .lectures-main__content
    &__content {
        flex: 0 0 vw(700);
        @media (max-width: $mobile) {
            width: 100%;
        }
    }
    // .lectures-main__span
    &__span {
        display: block;
        color: $whiteColor;
        margin: 0px 0px vw(15) 0px;
        @media (max-width: $mobile) {
            margin: 0px 0px vw_m(15) 0px;
        }
    }
    // .lectures-main__data
    &__data {
        display: block;
        color: $whiteColor;
        font-size: vw(40);
        line-height: vw(45);
        letter-spacing: vw(0.2);
        @media (max-width: $mobile) {
            font-size: vw_m(30);
            line-height: vw_m(35);
        }
    }
    // .lectures-main__title
    &__title {
        font-size: vw(72);
        line-height: vw(80);
        font-family: $CanelaFont;
        letter-spacing: vw(0.2);
        color: $whiteColor;
        padding: vw(50) 0px vw(60) 0px;
        @media (max-width: $mobile) {
            font-size: vw_m(40);
            line-height: vw_m(45);
            padding: vw_m(25) 0px;
        }
    }
    // .lectures-main__button
    &__button {
        color: $whiteColor;
    }
    // .lectures-main__link
    &__link {
        display: inline-flex;
        font-size: vw(30);
        line-height: vw(34);
        letter-spacing: vw(0.2);
        position: relative;
        display: flex;
        align-items: center;
        padding: 0px 0px 0px vw(60);
        @media (max-width: $mobile) {
            font-size: vw_m(20);
            line-height: vw_m(44);
            padding: 0px 0px 0px vw_m(60);
        }
        &::before {
            content: "";
            position: absolute;
            width: vw(42);
            height: vw(42);
            border-radius: 50%;
            background-color: $whiteColor;
            left: 0;
            bottom: vw(-5);
            @media (max-width: $mobile) {
                width: vw_m(40);
                height: vw_m(40);
                bottom: vw_m(0);
            }
        }
        &:hover:before {
            transform: scale(5);
            transition: transform 0.3s ease 0s;
            background: radial-gradient(circle farthest-side, #fff 17%, rgba(255, 255, 255, 0) 100%);
        }
    }
}
//========================================================================================================================================================
.lectures-carts {
    padding: vw(200) 0px;
    @media (max-width: $mobile) {
        padding: vw_m(150) 0px;
    }
    // .lectures-carts__container
    &__container {
    }
    // .lectures-carts__body
    &__body {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: vw(140);
        @media (max-width: $mobile) {
            flex-direction: column;
            gap: vw_m(70);
            padding: 0px 0px vw_m(70) 0px;
        }
    }
    // .lectures-carts__cart
    &__cart {
        flex: 0 0 vw(750);
        align-items: flex-start;
        @media (max-width: $mobile) {
            width: 100%;
        }
        &:nth-child(4),
        &:nth-child(5) {
            transform: translate(vw(0), vw(-140));
            @media (max-width: $mobile) {
                transform: translate(vw_m(0), vw_m(0));
            }
        }
        &:last-child {
            transform: translate(vw(0), vw(-140));
            @media (max-width: $mobile) {
                transform: translate(vw_m(0), vw_m(0));
            }
        }
    }
    // .lectures-carts__image-ibg
    &__image-ibg {
        display: block;
        height: vw(747);
        &:hover {
            .featured-images__image-hv {
                transition: opacity 1s ease 0s;
                opacity: 1;
            }
        }
        @media (max-width: $mobile) {
            height: vw_m(350);
        }
    }
    &__image-ibg-s {
        display: block;
        height: vw(604);
        &:hover {
            .featured-images__image-hv {
                transition: opacity 1s ease 0s;
                opacity: 1;
            }
        }
        @media (max-width: $mobile) {
            height: vw_m(300);
        }
    }
    // .lectures-carts__block
    &__block {
        padding: vw(35) 0px 0px 0px;
        @media (max-width: $mobile) {
            padding: vw_m(25) 0px 0px 0px;
        }
    }
    // .lectures-carts__data
    &__data {
        display: inline-block;
        padding: 0px 0px vw(15) 0px;
        font-size: vw(30);
        line-height: vw(34);
        letter-spacing: vw(0.2);
        color: $mainColor;
        @media (max-width: $mobile) {
            font-size: vw_m(20);
            line-height: vw_m(24);
            padding: 0px 0px vw_m(10) 0px;
        }
    }
    // .lectures-carts__line
    &__line {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: $mobile) {
            flex-direction: column;
            gap: vw_m(5);
            align-items: flex-start;
        }
    }
    // .lectures-carts__title
    &__title {
        font-size: vw(40);
        line-height: vw(48);
        color: $blackColor;
        font-family: $CanelaFont;
        @media (max-width: $mobile) {
            font-size: vw_m(24);
            line-height: vw_m(30);
        }
    }
    // .lectures-carts__link
    &__link {
        display: inline-block;
        align-self: flex-start;
        &::before {
            content: "";
            position: absolute;
            width: vw(42);
            height: vw(42);
            border-radius: 50%;
            background-color: $mainColor;
            left: 0;
            bottom: vw(-5);
            @media (max-width: $mobile) {
                width: vw_m(40);
                height: vw_m(40);
                bottom: vw_m(0);
            }
        }
        &:hover:before {
            transform: scale(5);
            transition: transform 0.3s ease 0s;
            background: radial-gradient(circle farthest-side, #e7d499 17%, rgba(255, 255, 255, 0) 100%);
            // background: radial-gradient(circle farthest-side, #e7d499 20%, rgba(255, 255, 255, 0) 100%);
        }
    }
}
//========================================================================================================================================================
