//====================================================================================================
.news-open-main {
    // .news-open-main__body
    &__body {
        padding: vw(100) 0px 0px 0px;
        // border-top: 1px solid $greyColor;
        @media (max-width: $mobile) {
            padding: vw_m(50) 0px 0px 0px;
        }
    }
    // .news-open-main__header
    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 0px vw(100) 0px;
        @media (max-width: $mobile) {
            margin: 0px 0px vw_m(50) 0px;
        }
    }
    // .news-open-main__title
    &__title {
        font-family: $AustinFont;
        color: $blackColor;
        margin: 0px 0px vw(60) 0px;
        @media (max-width: $mobile) {
            text-align: center;
            margin: 0px 0px vw_m(30) 0px;
        }
    }
    // .news-open-main__data
    &__data {
    }
    // .news-open-main__image-ibg
    &__image-ibg {
        margin: 0px auto;
        width: vw(1200);
        height: vw(1200);
        @media (max-width: $mobile) {
            width: 100%;
            height: vw_m(330);
        }
    }
}
//========================================================================================================================================================
.news-open-content {
    padding: vw(100) 0px vw(200) 0px;
    @media (max-width: $mobile) {
        padding: vw_m(50) 0px vw_m(100) 0px;
    }
    // .news-open-content__container
    &__container {
    }
    // .news-open-content__body
    &__body {
    }
    // .news-open-content__inner
    &__inner {
        max-width: vw(1200);
        margin: 0px auto;
        @media (max-width: $mobile) {
            max-width: none;
            margin: 0;
        }
    }
    // .news-open-content__line
    &__line {
        display: flex;
        flex-direction: column;
        border-bottom: vw(1) solid $greyColor;
        padding: 0px vw(150) vw(60) vw(150);
        margin: 0px 0px vw(50) 0px;
        @media (max-width: $mobile) {
            padding: 0px vw_m(0) vw_m(30) vw_m(0);
            margin: 0px 0px vw_m(50) 0px;
        }
    }
    // .news-open-content__span
    &__span {
    }
    // .news-open-content__data
    &__data {
        margin: vw(25) 0px vw(50) 0px;
        @media (max-width: $mobile) {
            margin: vw_m(25) 0px vw_m(25) 0px;
        }
    }
    // .news-open-content__text
    &__text {
    }
    // .news-open-content__text
    &__text-s {
        max-width: vw(443);
        @media (max-width: $mobile) {
            max-width: none;
        }
    }
    // .news-open-content__row
    &__row {
        padding: vw(0) vw(150) vw(0) vw(150);
        @media (max-width: $mobile) {
            padding: vw_m(0);
        }
    }
    // .news-open-content__images
    &__images {
        margin: vw(100) vw(0);
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: $mobile) {
            flex-direction: column;
            gap: vw_m(50);
            margin: vw_m(50) vw(0);
        }
    }
    // .news-open-content__image-ibg
    &__image-ibg {
        width: vw(530);
        height: vw(530);
        &:hover {
            .featured-images__image-hv {
                transition: opacity 1s ease 0s;
                opacity: 1;
            }
        }
        @media (max-width: $mobile) {
            width: 100%;
            height: vw_m(330);
        }
    }
    // .news-open-content__image-ibg
    &__image-ibg-b {
        width: vw(1200);
        height: vw(1200);
        &:hover {
            .featured-images__image-hv {
                transition: opacity 1s ease 0s;
                opacity: 1;
            }
        }
        @media (max-width: $mobile) {
            width: 100%;
            height: vw_m(330);
        }
    }
    // .news-open-content__image
    &__image {
    }
}
//========================================================================================================================================================
