//====================================================================================================
.obrazy-open-main {
    padding: vw(0) 0px vw(200) 0px;
    @media (max-width: $mobile) {
        padding: vw(0) 0px vw_m(100) 0px;
    }
    // .obrazy-open-main__container
    &__container {
    }
    // .obrazy-open-main__body
    &__body {
        display: flex;
        justify-content: space-between;
        padding: vw(70) 0px 0px 0px;
        // border-top: 1px solid $greyColor;
        @media (max-width: $mobile) {
            flex-direction: column;
            gap: vw_m(35);
            padding: vw_m(35) 0px 0px 0px;
        }
    }
    // .obrazy-open-main__images
    &__images {
    }
    // .obrazy-open-main__content
    &__content {
    }
    // .obrazy-open-main__control
    &__control {
        @media (min-width:$mobile){
             display: none; 
        }
    }
}
.images-obrazy {
    display: flex;
    gap: vw(30);
    flex: 0 0 vw(882);
    height: vw(660);
    position: relative;
    @media (max-width: $mobile) {
        width: 100%;
        flex: none;
        height: vw_m(330);
    }
    // .images-obrazy__slider
    &__slider {
        width: vw(720);
        height: vw(660);
        position: relative;
        padding: 0 vw(30);
        @media (max-width: $mobile) {
            width: 100%;
            height: 100%;
            padding: 0;
        }
        &:hover {
            .swiper-button-prev,
            .swiper-button-next {
                opacity: 1;
                visibility: visible;
                transition: all 0.3s ease 0s;
            }
        }
    }
    // .images-obrazy__wrapper
    &__wrapper {
    }
    // .images-obrazy__slide
    &__slide {
    }
    // .images-obrazy__image-ibg
    &__image-ibg {
        height: 100%;
    }
    // .images-obrazy__trambs
    &__trambs {
    }
    .swiper-button-prev,
    .swiper-button-next {
        @media (max-width: $mobile) {
            display: none;
        }
    }
}
.trambs-obrazy {
    @media (max-width: $mobile) {
        display: none;
    }
    // .trambs-obrazy__swiper
    &__swiper {
    }
    // .trambs-obrazy__slide
    &__slide {
        width: vw(150);
    }
    // .trambs-obrazy__bg
    &__bg {
        background: url("@img/gallery/thumb.png") 0 0 / cover no-repeat;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    // .trambs-obrazy__image
    &__image {
        width: vw(120);
        height: auto;
        & img {
            max-width: 100%;
        }
    }
}
.content-obrazy {
    flex: 0 0 vw(617);
    display: flex;
    flex-direction: column;
    @media (max-width: $mobile) {
        width: 100%;
        flex: none;
    }
    // .content-obrazy__body
    &__body {
    }
    // .content-obrazy__data
    &__data {
    }
    // .content-obrazy__title
    &__title {
        margin: vw(15) 0px vw(50) 0px;
        @media (max-width: $mobile) {
            margin: vw_m(15) 0px;
        }
    }
    // .content-obrazy__span
    &__span {
    }
    // .content-obrazy__line
    &__line {
        padding: vw(50) 0px;
        margin: vw(25) 0px;
        border-top: 1px solid rgba($color: #000000, $alpha: 0.3);
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.3);
        @media (max-width: $mobile) {
            padding: vw_m(25) 0px;
            margin: vw_m(15) 0px;
        }
    }
    // .content-obrazy__link
    &__link {
        z-index: 2;
        &::before {
            content: "";
            position: absolute;
            width: vw(42);
            height: vw(42);
            border-radius: 50%;
            background-color: $blackColor;
            left: 0;
            bottom: vw(-5);
            @media (max-width: $mobile) {
                width: vw_m(40);
                height: vw_m(40);
                bottom: 0;
            }
        }
        &:hover:before {
            transform: scale(5);
            transition: transform 0.3s ease 0s;
            background: radial-gradient(circle farthest-side, #a8a2c2 17%, rgba(255, 255, 255, 0) 100%);
        }
    }
    // .content-obrazy__row
    &__row {
        display: flex;
        justify-content: space-between;
        margin: 0px 0px vw(50) 0px;
        @media (max-width: $mobile) {
            flex-direction: column;
            margin: 0px 0px vw_m(25) 0px;
            gap: vw_m(10);
        }
    }
    // .content-obrazy__link-s
    &__link-s {
        display: inline-flex;
        text-decoration: underline;
        padding: 0px 0px vw(5) 0px;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            bottom: 0px;
            left: 0px;
            right: 0px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        }
        @media (max-width: $mobile) {
            padding: 0px 0px vw_m(5) 0px;
            align-self: flex-start;
        }
    }
    @keyframes underscored {
        0% {
            transform: scaleX(1);
            transform-origin: right center;
        }
        35% {
            transform: scaleX(0);
            transform-origin: right center;
        }
        65% {
            transform: scaleX(0);
            transform-origin: left center;
        }
        100% {
            transform: scaleX(1);
            transform-origin: left center;
        }
    }
    .content-obrazy__link-s:hover:after {
        animation: underscored 0.8s linear;
    }
    // .content-obrazy__text
    &__text {
        font-size: vw(20);
        line-height: vw(25);
        letter-spacing: vw(0.2);
        color: $blackColor;
        font-family: $AustinFont;
        @media (max-width: $mobile) {
            font-size: vw_m(16);
            line-height: vw_m(21);
        }
        &:not(:last-child) {
            margin-bottom: vw(15);
            @media (max-width: $mobile) {
                margin-bottom: vw_m(10);
            }
        }
    }
    // .content-obrazy__link-bottom
    &__link-bottom {
        position: relative;
        padding: 0px 0px vw(5) 0px;
        &:after {
            content: "";
            position: absolute;
            bottom: 0px;
            left: 0px;
            right: 0px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        }
        @media (max-width: $mobile) {
            padding: 0px 0px vw_m(5) 0px;
        }
    }
    @keyframes underscored {
        0% {
            transform: scaleX(1);
            transform-origin: right center;
        }
        35% {
            transform: scaleX(0);
            transform-origin: right center;
        }
        65% {
            transform: scaleX(0);
            transform-origin: left center;
        }
        100% {
            transform: scaleX(1);
            transform-origin: left center;
        }
    }
    .content-obrazy__link-bottom:hover:after {
        animation: underscored 0.8s linear;
    }
}
//========================================================================================================================================================
.obrazy-open-featured {
    padding: 0px 0px vw(200) 0px;
    @media (max-width: $mobile) {
        padding: 0px 0px vw_m(100) 0px;
    }
}
//========================================================================================================================================================
